# 开发环境配置
server:
  port: 8080

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/smart-schedule-core
    username: smart-schedule-core
    password: 123456
  data:
    redis:
      database: 0
      host: localhost
      port: 6379
      timeout: 5000ms  # 连接超时时间
      lettuce:
        pool:
          max-active: 8      # 最大连接数
          max-wait: -1ms     # 最大等待时间（-1表示无限等待）
          max-idle: 8        # 最大空闲连接数
          min-idle: 0        # 最小空闲连接数
        shutdown-timeout: 100ms  # 关闭超时时间
  jackson:
    property-naming-strategy: SNAKE_CASE